
.card_box {
    /* border: 2px solid red; */
    width: 296px;
    height: 131px;
    margin: 0px auto;
    border-radius: 24px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 9px;
}
.icon_field{
    /* border: 2px solid darkgreen; */
    height: 36px;
    height: 71px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background-color: #F2F1FE;
    margin-left: 20px;
    padding: 0px 5px;
}