.head{
   /* border:2px solid firebrick; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px;
}
.head_first_section{
    display: flex;
    align-items: center;
    gap: 42px;
}
.input_section{
    width: 503px;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.input_box{
    position: relative;
}
.inner_input{
    display: flex;
    gap:7px;
    align-items: center;
    position: absolute;
    top: -4px;
    left: 29px;
    color: rgb(187, 187, 173);
}
.profile_section{
    display: flex;
    align-items: center;
    gap: 26px;
}